*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    contain: layout;
}
:root{
    --primarycolor:rgb(92, 188, 92);
}
.sect{
    gap: 50%;
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.box{
    display: flex;
    gap:5px;
}
.pro{
    display: flex;
    gap: 5px;
}
.pro h1 {
    font-size: 1.8rem;
    font-family: sans-serif;
}
.spera h1{
    /* border: 2px solid red ; */
    padding: 0 5px;
    background-color: var(--primarycolor);
    color: white;
}
.logo{
    color: rgb(154, 154, 154);
}
.sect1{
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
    align-items: center;
    gap: 40%;
}
.sect1 ul {
    display: flex;
    gap: 20px;
}
.sect1 a {
    text-transform: capitalize;
    color: black;
    font-size: 1.2rem;
}
.chev{
    display: flex;
    gap: 5px;
}
.chev i {
   display: flex;
   padding-top: 5px;
}
.gall {
    border: 2px;
    padding: 0 5px;
    background-color: var(--primarycolor);
    color: white;
}
.gall a {
    color: #fff;
}
.sect2{
    /* border: 2px solid red ; */
    padding: 60px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-top: 50px;
    background-color: var(--primarycolor);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#lord {
    padding-top: 50px;
}
.sect3  {
    padding-left: 50px;
    display: flex;
    gap: 15px;
    padding-right: 100%;
    padding-top: 15px;
}
.box1 {
    position: relative; 
    height: 270px;
     
}
.box1 img {
    height: 270px;
    width:270px;
    transition: 0.3s ease-in-out;
    
}
.box1 figcaption{  
        position: absolute; 
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0  ;
        text-align: center;
        place-content: center;
        font-size: 1.4rem;
        color: #fff;
        background-color: rgb(104, 172, 104 );
       opacity: 0;
       transition: 1s ease-in-out;
}
.box1:hover img {
    transform: scale(1.02);
}
.box1:hover figcaption {
        opacity: 1;
        transform: scale(1.02);
}
figcaption:hover span {
    color: rgb(211, 211, 211);
}
.house{
    display: flex;
} 
.house img {
    height: 100px;
}
.add{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}
.add i {
    padding-top: 6px;
}
.dress{
    display: flex;
    gap: 5px;
}
.dress p {
    padding-top: 6px;
    font-size:1.1rem;
} 
 .email input{
        height: 50px;
        width: 350px;
        background-color: transparent;
        border: none;
        border-left:2px solid red ;
        color: #fff;
}
.message{
    margin-top: 20px;
    margin-bottom: 10px;
}
.heart{
    color: var(--primarycolor);
}
.email button {
    height: 50px;
    width: 350px;
    font-size: 1.5rem;
    color: white ;
    border: none;
    text-transform: capitalize;
    background-color: var(--primarycolor);
}
.sect4{
    display: flex;
    gap: 20px;
    margin-top:50px ;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    background-color: navy;
}
.sect4 h1 {
    padding-bottom: 20px;
}
.philo p{
    border: 2px;
    width: 400px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: rgb(236, 236, 236);
} 
.hou {
    padding-top: 20px;
    margin-left: 10px;
    width: 300px;
    border: 2px  ;
    font-size: 1.1rem;
    color: rgb(236, 236, 236);
}
.hou p {
    padding-bottom: 15px;
}
.hou a {
    color: rgb(236, 236, 236);
} 
@media screen and (max-width: 767px) {
    .sect3  {
        flex-wrap: wrap;
    }
    .sect1 nav {
        display: none;
    }
    .branda{
        display: none;
    }
    .sect{
        padding-left: 20px;
    }
    .sect4{
        flex-wrap: wrap;
        padding-left: 10px;
    }
}
