*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
  :root{
    --primarycolor:blue;
    --display:flex;
    --fontsize:1.2rem;
  }
  body{
    color: var(--primarycolor);
   
  }
  main{
    display: var(--display);
    border: 2px solid var(--primarycolor);
    padding: 20px;
}
p{
    border: 2px solid var(--primarycolor);
    padding: 10px;
    font-size: var(--fontsize);
    margin-left: 10px;
}
  
